            h2{
    color:  gray;
    
}

#testimonials{
    color: black;
    background-color: #140AA3;
    text-align: center;
}
#navbar{
    margin: 0 0 5px; 
    
}
#cards-s{
    margin: 20px;
}
#cta{
    text-align: center;
    border: 20px;
    margin: 20px;
    color: gray;
}
#footer{

}
.ft-1{
    text-align: center;
    

}
.card{
    text-align: center;
    margin: 20px 10px 7px;
    padding: 10px;
}
.navbar-brand{
    font-family: 'Russo One';
    font-weight: bold;
    font-size: 2.5rem;
    color: gray;
}

#intro{
    margin: 20px;
    
}
#carousel-2{
    background-color: #428BCA;
    text-align: center;
}
.nav-con{
    background-color: #CC3DE6;
}
.test{
    width: 200px;
    
    margin: 50px;
   
}
.phone-num{
    font-family: 'Russo One';
    font-weight: bolder;
    font-size: 3.5rem;
}
.types{
    padding: 3.5rem;
    color: gray;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Ubuntu',;
    
}

.c2-img{
    width: 200px;
    border-radius: 100%;
    text-align: center;
}